.container.mx-auto.max-w-4xl.px-4.py-12
  .bg-white.rounded-xl.shadow-sm.p-8.md:p-16.border.border-gray-200
    h1.text-3xl.font-bold.text-gray-900.mb-10.pb-4.text-center.w-fit.mx-auto プライバシーポリシー

    .prose.prose-indigo.max-w-none.text-gray-700.leading-relaxed
      p.list-decimal.space-y-4
        | じぶん日和 運営（以下，「当運営」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第1条（個人情報）
        ol.list-decimal.pl-5.space-y-4
          li 「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第2条（個人情報の収集方法）
        ol.list-decimal.pl-5.space-y-4
          li 当運営は，ユーザーが利用登録をする際に氏名，メールアドレスなどの個人情報をお尋ねすることがあります。また、本サービスの利用にあたり、体調記録や日記などのユーザーが入力した情報を収集します。

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第3条（個人情報を収集・利用する目的）
        ol.list-decimal.pl-5.space-y-4
          li 当運営が個人情報を収集・利用する目的は，以下のとおりです。
          ol.list-decimal.pl-5.space-y-2.list-disc
            li 当運営サービスの提供・運営のため
            li ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）
            li メンテナンス，重要なお知らせなど必要に応じたご連絡のため
            li 利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため
            li ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため
            li 上記の利用目的に付随する目的

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第4条（利用目的の変更）
        ol.list-decimal.pl-5.space-y-4
          li 当運営は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。
          li 利用目的の変更を行った場合には，変更後の目的について，本ウェブサイト上に公表するものとします。

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第5条（個人情報の第三者提供）
        ol.list-decimal.pl-5.space-y-4
          li 当運営は，個人情報保護法その他の法令で認められる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第6条（個人情報の開示・訂正・利用停止）
        ol.list-decimal.pl-5.space-y-4
          li ユーザー本人から個人情報の開示、訂正、削除、利用停止等の請求があった場合には、ご本人であることを確認の上、速やかに対応いたします。

      section.pt-12.mt-12
        h2.text-xl.font-bold.text-gray-800.mb-4 第7条（お問い合わせ窓口）
        ol.list-decimal.pl-5.space-y-4
          li 本ポリシーに関するお問い合わせは、運営者までお願いいたします。

      section.pt-12.mt-12.text-right.text-sm.text-gray-500
        p 2026年3月2日 制定
        p じぶん日和 運営 (Y-aisia-Y)