services:
  - type: web
    name: jibun-biyori
    env: ruby
    plan: free
    region: singapore
    buildCommand: |
      bundle install
      bundle exec rake assets:precompile
    startCommand: |
      bundle exec puma -C config/puma.rb
    envVars:
      - key: RAILS_ENV
        value: production
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_SERVE_STATIC_FILES
        value: true
      - key: DATABASE_URL
        fromDatabase:
          name: jibun-biyori-db
          property: connectionString

  - type: worker
    name: jibun-biyori-migrate
    env: ruby
    plan: free
    region: singapore
    startCommand: bundle exec rails db:migrate
    envVars:
      - key: RAILS_ENV
        value: production
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: jibun-biyori-db
          property: connectionString

databases:
  - name: jibun-biyori-db
    plan: basic-256mb
    region: singapore