/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hour-block {
  height: clamp(48px, 6vh, 96px);
}
.add-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background: #4f46e5; /* indigo */
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.now-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: red;
  z-index: 20;
}


